.list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(39, 27, 16);
  font-weight: 700;
}

.item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}